#hero {
  min-height: 100%;
  max-height: 1000px;
  color: #fff;
  position: relative;
  overflow: hidden;

  @include display-flex;
  @include flex-props(row, nowrap, center, center, center);

  article {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    font-size: .75em;
    padding: 0 2em;
    z-index: 10;

    p {
      letter-spacing: 3px;
      font-weight: 700;
      margin-bottom: 1.75em;
      line-height: 1.3em;
    }
  }

  h1 {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding-top: 43%;
    background: url(../images/logo.png) center no-repeat;
    background-size: 100%;
    text-indent: -9999px;
  }
}

#hero-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 1280px;
  width: 110%;
  left: 50%;
  transform: translateX(-50%);

  background: url(../images/hero.png) no-repeat bottom center $dribbble;
  background-size: 100%;
  z-index: -1;
}

#rsvp {
  color: $dark;
  background: $cta;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  padding: 1em 3em;
  border-radius: 2px;
  display: inline-block;
  -webkit-transition: background ease-in-out .15s;

  &:hover {
    background: lighten($cta, 10%);
  }
  &:active {
    background: darken($cta, 10%);
  }
}