@media (max-width: 1280px) {
 #hero-bg {
  background-image: url(../images/hero-1280.png);
 }
}
@media (max-width: 720px) {
 #hero-bg {
  min-width: 720px;
  background-image: url(../images/hero-720.png);
 }
}